<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <span class="logo"><img id="logo" src="{{ site.baseurl }}assets/images/icon.jpg"/></span>
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">About </a>
        {% endif %}
    {% endif %}

    {% if page.url != "/marketing/" %}
        <a href="{{ site.baseurl }}marketing">Marketing </a>
    {% endif %}

    {% if page.url != "/properties/" %}
      <a href="{{ site.baseurl }}properties">Property Management </a>
    {% endif %}
</nav>